body {
    font-family: Arial, sans-serif;
    background-color: rgb(139, 76, 76);
  }
     
  h1, p {
    text-align: center;
    margin-top: 50px;
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 2px solid #ccc;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 10px;
  }
     
  button:active {
      transform: scale(0.90);
  }
     
  .letter {
      border: 1px solid rgb(5, 5, 5);
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block;
      background-color: brown;
      
  }
     
  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }
 